body {
    font-family: "Playwrite CU", cursive;
    padding: 0px;
    margin: auto;
}

h1{
    color:blueviolet;
    font-size: 60px;
   

}

#paragrafo {
    color: brown;

}

#main {
    background-color: aqua;
    width: 400px;
    text-align: center;
    margin: auto;
    border: solid;
    padding: 20px;
}